html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body, * {
  color: white;
}

.main {
  background-color: #35495e;
  padding-top: 2rem;
}

.main__overlay {
  min-height: 100vh;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

i {
  transform: scale(1, 1);
  transition: all .3s ease-in-out;
}

i:hover, i:active {
  transform: scale(1.1, 1.1);
}

.btn, .btn-secondary, .btn-flat, .btn-clear {
  border: none;
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
  background-color: #008F8A;
  color: white;
  outline: none;
  font-size: 1.2rem;
  padding: .5rem 1rem;
  margin: 0;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.btn p, .btn-secondary p, .btn-flat p, .btn-clear p,
.btn h1,
.btn-secondary h1,
.btn-flat h1,
.btn-clear h1,
.btn h2,
.btn-secondary h2,
.btn-flat h2,
.btn-clear h2,
.btn h3,
.btn-secondary h3,
.btn-flat h3,
.btn-clear h3,
.btn h4,
.btn-secondary h4,
.btn-flat h4,
.btn-clear h4,
.btn h5,
.btn-secondary h5,
.btn-flat h5,
.btn-clear h5,
.btn h6,
.btn-secondary h6,
.btn-flat h6,
.btn-clear h6 {
  margin: 0;
}

.btn:hover, .btn-secondary:hover, .btn-flat:hover, .btn-clear:hover, .btn:active, .btn-secondary:active, .btn-flat:active, .btn-clear:active {
  background-color: #02BAAE;
}

.btn-flat {
  border-radius: 0;
  width: 50%;
  padding: 1rem;
}

.btn-flat:hover, .btn-flat:active {
  font-weight: 600;
}

.btn-secondary, .btn-flat {
  background-color: #E87800;
}

.btn-secondary:hover, .btn-flat:hover, .btn-secondary:active, .btn-flat:active {
  background-color: #BD5E00;
}

.btn-clear {
  border: none;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #E87800;
  background-color: transparent;
  color: #02BAAE;
  border-color: #02BAAE;
}

.btn-clear:hover, .btn-clear:active {
  background-color: #02BAAE;
  color: white;
}

.container {
  padding: 0 30px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    width: 510px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 930px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.card {
  border: none;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #E87800;
  padding: 1.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}

@media (min-width: 576px) {
  .card {
    max-width: 440px;
  }
}

@media (min-width: 768px) {
  .card {
    max-width: 640px;
  }
}

.link {
  color: #E87800;
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
}

.link:hover, .link:active, .link:focus {
  color: #BD5E00;
}

.text-center {
  text-align: center;
}

.form {
  display: block;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form-item {
  width: 100%;
  max-width: 500px;
  margin: .25rem 0;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #E87800;
  padding: .5rem 1rem;
  outline: none;
  color: #008F8A;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all .2s ease-in-out;
}

.form-item:focus {
  background-color: rgba(232, 120, 0, 0.1);
  color: white;
}

.loading {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loading:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #008F8A transparent #008F8A transparent;
  animation: loading-ring 1.2s ease-in-out infinite;
}

@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  color: white;
  padding: .5rem 1rem;
  margin: .5rem auto;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #E87800;
  background-color: #ff3b30;
  border-width: 2px;
  border-color: white;
  animation: fade-in .5s ease-in-out;
  max-width: 80%;
}

.fullscreen-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1100;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.img-fluid {
  display: block;
  max-width: 100%;
  height: auto;
}

.bg-color--red {
  background-color: #ff3b30;
}

.bg-color--orange {
  background-color: #ff9500;
}

.bg-color--mint {
  background-color: #00c7be;
}

.bg-color--green {
  background-color: #34c759;
}

.nav-container {
  position: relative;
  background-color: #35495e;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-container .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0;
}

.nav-container .nav__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container .nav__nav a {
  font-weight: 600;
  font-size: 1.2rem;
  padding: .5rem;
  color: white;
  position: relative;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.nav-container .nav__nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid #E87800;
  transform: translate(-100%, 0);
  transition: all .2s ease-in-out;
}

.nav-container .nav__nav a:hover, .nav-container .nav__nav a:active {
  color: #E87800;
}

.nav-container .nav__nav a:hover::after, .nav-container .nav__nav a:active::after {
  transform: translate(0%, 0);
}

.nav-container .nav__logo {
  display: flex;
}

.nav-container .nav__logo .fa-film {
  font-size: 2rem;
  color: #008f8a;
  transition: all 0.2s ease-in-out;
}

.nav-container .nav__logo .fa-film:hover, .nav-container .nav__logo .fa-film:active {
  transform: rotate(360deg) scale(1.5);
  color: #02BAAE;
}

.nav-container .nav__user {
  display: flex;
}

.nav-container .nav__auth {
  display: flex;
  align-items: center;
}

.nav-container .nav a {
  margin: 0 .5rem;
}

.nav-container .nav h3 {
  margin: 0;
}

.search__box {
  margin: 0 auto;
  width: 40vw;
}

.search__box .form-group {
  position: relative;
  display: flex;
  flex-direction: row;
}

.search__box .form-group .form-item {
  display: block;
  width: 100%;
  max-width: unset;
}

.search__box .form-group .btn, .search__box .form-group .btn-secondary, .search__box .form-group .btn-flat, .search__box .form-group .btn-clear {
  position: absolute;
  right: 0;
  margin: 0 .5rem;
  padding: .5rem .6rem;
  border-radius: 50%;
  background-color: transparent;
  color: #008F8A;
  transition: all .2s ease-in-out;
}

.search__box .form-group .btn:hover, .search__box .form-group .btn-secondary:hover, .search__box .form-group .btn-flat:hover, .search__box .form-group .btn-clear:hover, .search__box .form-group .btn:active, .search__box .form-group .btn-secondary:active, .search__box .form-group .btn-flat:active, .search__box .form-group .btn-clear:active {
  transform: scale(1.1);
}

.search__box .form-group .btn i, .search__box .form-group .btn-secondary i, .search__box .form-group .btn-flat i, .search__box .form-group .btn-clear i {
  color: inherit;
}

.movie-options--overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  z-index: -10;
  height: 100vh;
}

.movie-options__card {
  position: relative;
  height: calc(100vh - 2rem);
  margin: 1rem;
  border: 2px solid #E87800;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(53, 73, 94, 0.8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .movie-options__card {
    max-width: 600px;
  }
}

.movie-options__card .fa-times-circle {
  position: absolute;
  top: .5rem;
  right: .5rem;
  background-color: black;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
}

.movie-options__card .fa-times-circle:hover, .movie-options__card .fa-times-circle:active {
  color: #ff3b30;
}

.movie-options__card .content {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(3, min-content) auto min-content;
}

.movie-options__card .content .links {
  display: flex;
  justify-content: center;
  border-top: 2px solid #E87800;
  padding: 1rem 0;
  padding-bottom: 1.5rem;
  margin: 1rem -2rem;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.movie-options__card .content .links a {
  cursor: pointer;
}

.movie-options__card .content .links i {
  font-size: 4rem;
  padding: .5rem;
  transition: all .25s ease-in-out;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  margin: 0 .5rem;
}

.movie-options__card .content .links i:hover, .movie-options__card .content .links i:active {
  background-color: #35495e;
  border: 2px solid white;
}

.movie-options__card .content .links .fa-youtube {
  color: #FF0000;
}

.movie-options__card .content .links .fa-imdb {
  color: #E2B616;
}

.movie-options__card .content .links .fa-cloud-download-alt {
  color: whitesmoke;
}

.movie-options__card .content .links .fa-plus {
  color: #E87800;
}

.movie-options__card .content h1 {
  text-align: center;
  margin: .5rem 0;
  font-size: 2.2rem;
}

.movie-options__card .content h3 {
  text-align: center;
  margin: .5rem 0;
  font-size: 1.6rem;
}

.movie-options__card .content .overview {
  margin: 0 -2rem;
  padding: 1rem 1.5rem;
  border-radius: 20px;
  border-top: 2px solid #E87800;
  border-bottom: 2px solid #E87800;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .movie-options__card .content .overview {
    padding: 1rem 3rem;
  }
}

.movie-options__card .content .overview p {
  font-size: 20px;
  font-weight: 500;
  overflow: scroll;
}

.movie-options__card .content .more-details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: .5rem 0;
}

.movie-options__card .content .more-details .runtime, .movie-options__card .content .more-details .rating {
  margin: 0.25rem 1rem;
  white-space: nowrap;
  font-weight: 600;
}

.movie-options__card .content .more-details .runtime span, .movie-options__card .content .more-details .rating span {
  margin: .25rem;
  padding: .25rem .5rem;
  font-size: 14px;
  font-weight: 600;
  border-radius: 20px;
  overflow: hidden;
}

.movie-options__card .content .genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: .5rem 0;
}

.movie-options__card .content .genres p {
  margin: .25rem;
  padding: .25rem .5rem;
  font-size: 14px;
  font-weight: 600;
  background-color: #008F8A;
  border-radius: 20px;
  overflow: hidden;
}

.search__res {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}

.search__res .load-more {
  grid-column: 1/ -1;
  display: flex;
  justify-content: center;
}

.search__res .load-more .btn-secondary, .search__res .load-more .btn-flat {
  padding: 1rem 5rem;
  font-weight: 600;
}

.search__res .movie {
  position: relative;
  transition: all .2s ease-out;
  border-radius: 20px;
  overflow: hidden;
  height: 80%;
}

.search__res .movie .poster-container {
  overflow: hidden;
  border-radius: 20px;
}

.search__res .movie .poster-container img {
  min-width: 100%;
}

.search__res .movie .poster-container .no-poster {
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.search__res .movie .poster-container .no-poster i {
  font-size: 15rem;
}

.search__res .movie .title {
  margin: 0;
  margin-top: .5rem;
  padding: 0 1rem;
  text-align: center;
}

.search__res .movie .details-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 10;
  cursor: pointer;
}

.search__res .movie .details-container .details {
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: all .2s ease-out;
  display: grid;
  grid-template-rows: min-content min-content min-content auto min-content;
  gap: .5rem;
  border: 2px solid #e87800;
  border-radius: 20px;
  overflow: hidden;
}

.search__res .movie .details-container .details p, .search__res .movie .details-container .details small {
  pointer-events: none;
}

.search__res .movie .details-container .details small {
  display: block;
  font-size: 11px;
  color: #e9e9e9;
  padding: 0 1rem;
}

.search__res .movie .details-container .details p {
  text-align: justify;
  padding: 0 1rem;
  overflow: hidden;
  font-size: 12px;
  height: 80%;
}

.search__res .movie .details-container .details .buttons {
  align-self: flex-end;
}

.search__res .movie .details-container:hover .details, .search__res .movie .details-container:active .details {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.75);
}
/*# sourceMappingURL=main.css.map */