@mixin roundBorders ($radius: 20px,) {
    border: none;
    border-radius: $radius;
    overflow: hidden;
}

@mixin slimBorder ($color: $secondary-color) {
    @include roundBorders;
    border: 1px solid $color;
}