.search {
    &__box {
        margin: 0 auto;
        width: 40vw;

        .form-group {
            position: relative;
            display: flex;
            flex-direction: row;

            .form-item {
                display: block;
                width: 100%;
                max-width: unset;
            }

            .btn {
                position: absolute;
                right: 0;
                margin: 0 .5rem;
                padding: .5rem .6rem;
                border-radius: 50%;
                background-color: transparent;
                color: $primary-color;
                transition: all .2s ease-in-out;
    
                &:hover, &:active {
                    transform: scale(1.3);
                    filter: drop-shadow(0 0 2px $primary-color);
                    color: white;
                }
    
                i {
                    color: inherit;
                }
            }
        }
    }

    &__res {
        padding: 2rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-template-rows: repeat( auto-fit, minmax(340px, 1fr) );
        gap: 1rem;

        .movie {
            position: relative;
            transform: scale(1, 1);
            transition: all .2s ease-out;
            border-radius: 20px;
            overflow: hidden;
            border: 1px solid rgba($secondary-color, 0);

            &:hover, &:active {
                transform: scale(1.1, 1.1);

                @media (min-width: 576px) {
                    transform: scale(1.3, 1.3);
                }

                z-index: 5;
                border: 1px solid rgba($secondary-color, 1);

                .title {
                    background-color: rgba($color: #000000, $alpha: .75);
                    color: rgba($color: #000000, $alpha: 0);
                }

                .poster-container {
                    border-radius: 0px;
                    max-height: unset !important;
                }
            }

            .poster-container {
                overflow: hidden;
                border-radius: 20px;

                @media (min-width: 576px) {
                    max-height: 300px;
                }

                @media (min-width: 768px) {
                    max-height: 400px;
                }

                img {
                    min-width: 100%;
                }
            }

            .title {
                text-align: center;
                padding: 1rem;
                margin: 0;
                z-index: 2000;
            }

            .title-again {
                margin: 0;
                padding: 0 1rem;
                text-align: center;

            }

            .details-container {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 10;
                cursor: pointer;
                overflow: hidden;

                .details {
                    height: 100%;
                    background-color: rgba($color: #000000, $alpha: 0);
                    padding-top: 1rem;
                    opacity: 0;
                    transform: translate(0, 110%);
                    transition: all .2s ease-out;
                    display: grid;
                    grid-template-rows: min-content auto 1.5rem 1.5rem auto;

                    p, small {
                        pointer-events: none;

                    }

                    small {
                        display: block;
                        font-size: 11px;
                        color: rgb(233, 233, 233);
                        padding: 0 1rem;
                    }

                    p {
                        text-align: justify;
                        padding: 1rem;
                        overflow: hidden;
                        font-size: 12px;
                        height: 80%;
                    }

                    .buttons {
                        align-self: flex-end;
                        padding-bottom: 1rem;
                    }
                }

                &:hover, &:active {

                    .details {
                        opacity: 1;
                        transform: translate(0, 0%);
                        background-color: rgba($color: #000000, $alpha: .75);

                    }
                }
            }

            // .showInfo {
            //     display: block !important;
            // }
        }
    }
}