.search {
    &__box {
        margin: 0 auto;
        width: 40vw;

        .form-group {
            position: relative;
            display: flex;
            flex-direction: row;

            .form-item {
                display: block;
                width: 100%;
                max-width: unset;
            }

            .btn {
                position: absolute;
                right: 0;
                margin: 0 .5rem;
                padding: .5rem .6rem;
                border-radius: 50%;
                background-color: transparent;
                color: $primary-color;
                transition: all .2s ease-in-out;
    
                &:hover, &:active {
                    transform: scale(1.1);
                }
    
                i {
                    color: inherit;
                }
            }
        }
    }
}