.search {
    &__res {
        padding: 2rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        // grid-template-rows: repeat( auto-fit, minmax(340px, 1fr) );
        gap: 1rem;

        .load-more {
            grid-column: 1/ -1;
            display: flex;
            justify-content: center;

            .btn-secondary {
                padding: 1rem 5rem;
                font-weight: 600;
            }
        }

        .movie {
            position: relative;
            transition: all .2s ease-out;
            border-radius: 20px;
            overflow: hidden;
            height: 80%;

            .poster-container {
                overflow: hidden;
                border-radius: 20px;
                // height: 80%;

                // @media (min-width: 576px) {
                //     max-height: 350px;
                // }

                // @media (min-width: 768px) {
                //     max-height: 500px;
                // }

                // @media (min-width: 992px) {
                //     max-height: 400px;
                // }

                img {
                    min-width: 100%;
                }

                .no-poster {
                    text-align: center;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    height: 100%;

                    i {
                        font-size: 15rem;
                    }
                }
            }

            .title {
                margin: 0;
                margin-top: .5rem;
                padding: 0 1rem;
                text-align: center;
            }

            .details-container {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                z-index: 10;
                cursor: pointer;

                .details {
                    height: 100%;
                    background-color: rgba($color: #000000, $alpha: 0);
                    opacity: 0;
                    transition: all .2s ease-out;
                    display: grid;
                    grid-template-rows: min-content min-content min-content auto min-content;
                    gap: .5rem;
                    border: 2px solid rgba($secondary-color, 1);
                    border-radius: 20px;
                    overflow: hidden;


                    p, small {
                        pointer-events: none;

                    }

                    small {
                        display: block;
                        font-size: 11px;
                        color: rgb(233, 233, 233);
                        padding: 0 1rem;
                    }

                    p {
                        text-align: justify;
                        padding: 0 1rem;
                        overflow: hidden;
                        font-size: 12px;
                        height: 80%;
                    }

                    .buttons {
                        align-self: flex-end;
                    }
                }

                &:hover, &:active {

                    .details {
                        opacity: 1;
                        background-color: rgba($color: #000000, $alpha: .75);
                    }
                }
            }
        }
    }
}